# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Code generation
*.g.dart
*.freezed.dart

# Symbolication
app.*.symbols
app.*.map.json

# Firebase (민감 정보)
lib/firebase_options.dart
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
.env
